@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

.movi {
    font-family: 'Passion One', cursive;
    font-size: 50px;
}

.rack {
    color: #9932cc;
}

/* .font{
    margin-right: 1rem;
} */

.claseNoActive {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    margin-right: 1rem;
}

.claseActive {

    text-decoration: none;
    font-size: 25px;
    color: #9932cc !important;
    margin-right: 1rem;
}

.font:hover {
    color: #53cc32 !important;
}

.dropdown-toggle {

    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    margin-right: 1rem;
    background-color: #9932cc;
}

.navbarMain {
    background-color: #000000;
    border-radius: 3px;
    padding: 15px 0px;
    border: 2px solid #9932cc;
}